# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
**/package-lock.json
logs/
upload/
static/node_modules/
suite/
reports/
celerybeat.pid
**/__pycache__/
Test Report.html
ApiManager/templatetags/*.pyc